build --java_runtime_version=remotejdk_11
build --incompatible_enable_cc_toolchain_resolution
# build --toolchain_resolution_debug=.*

build --flag_alias=cuda=@rules_cuda//cuda:enable_cuda
build --flag_alias=cuda_gpu_arch=@rules_cuda//cuda:cuda_targets

build:cuda_clang --@rules_cuda//cuda:compiler=clang
build:cuda_clang --@rules_cuda//cuda:copts=-Wno-unknown-cuda-version

build:cuda_nvcc --@rules_cuda//cuda:compiler=nvcc
build:cuda_nvcc --@rules_cuda//cuda:copts=-allow-unsupported-compiler,--default-stream=per-thread

build --config=gpu

build:gpu --config=cuda_clang
build:gpu --cuda=true
build:gpu --copt="-UQ_CPU_ONLY"
build:gpu --cuda_gpu_arch=sm_70,sm_75,sm_80,sm_86

build:cpu --cuda=false
build:cpu --copt="-DQ_CPU_ONLY=1"

build:sanitizer --strip=never
build:sanitizer --test_timeout=3600
build:sanitizer --copt -O1
build:sanitizer --copt -g
build:sanitizer --copt -fno-omit-frame-pointer
build:sanitizer --linkopt -ldl

# Ref: https://github.com/grpc/grpc/blob/master/tools/bazel.rc
build:asan --config=sanitizer
# TODO(storypku): NO hardcode --extra_toolchains
build:asan --extra_toolchains=@llvm_toolchain_for_asan//:cc-toolchain-x86_64-linux
build:asan --copt -fsanitize=address
build:asan --copt -fsanitize-blacklist=bazel/sanitizers/asan/ignorelist.txt
build:asan --linkopt -fsanitize=address
build:asan --platform_suffix=-asan
build:asan --test_env="ASAN_OPTIONS=abort_on_error=1:unmap_shadow_on_exit=1:protect_shadow_gap=0"

build:j5_cross --platforms=//:j5_cross_platform
build:j5_cross --extra_toolchains=@j5_cross_toolchain//:cc-toolchain-aarch64-linux
build:j5_cross --config=cpu
build:j5_cross --copt="-D__J5__=1"

build:xavier --platforms=//:xavier_platform
build:xavier --copt="-D__XAVIER__=1"

build:xavier_cross --platforms=//:xavier_cross_platform
build:xavier_cross --extra_toolchains=@xavier_cross_toolchain//:cc-toolchain-aarch64-linux
build:xavier_cross --copt="-D__XAVIER__=1"

test --build_tests_only

coverage --experimental_generate_llvm_lcov
coverage --combined_report=lcov
coverage --instrument_test_targets

try-import %workspace%/user.bazelrc
